@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--slate-dark: rgb(30 41 59);
	--slate-light: rgb(241 245 249);
	font-family: 'Jost', system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--slate-dark);
	background-color: var(--slate-light);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	min-height: 100vh;
	margin: 0;
}

button {
	border: 2px solid lightslategrey;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: slategray;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: all 0.25s;
}
button:hover {
	color: black;
	border-color: black;
}

input {
	margin: 0 0 16px;
	padding: 12px 8px;
	border: 2px solid lightslategray;
}
input:focus {
	outline: none;
	border: 2px solid var(--slate-dark);
}
